<div class='dropdown'>{{view App.NavSelectView
    content          = controller
    optionLabelPath  = "content.displayName"
    optionValuePath  = "content.id"
    selectionBinding = "controller.selectedTeam"
}}</div>

{{outlet}}
