<div class='team-stats'>
  {{#each stat in model.teamStats}}
    <div class='stat'>
      <div class='rel'>
        <div class='title'>{{stat.title}}</div>
        <div class='value'>{{stat.value}}</div>
        <div class='rank'>
          <div {{bind-attr class="stat.highOrLow"}}>
            Rank: <strong> {{stat.rank}}</strong></div>
          </div>
      </div>
    </div>
  {{/each}}
</div>
